<html>
    <head>
        <title>Simple OIDC Client</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>

    <body>
        <center>
            <h2 style="color:green">A Simple OIDC Client</h2>
            <!-- <div id="login_button">
                <button id="rainforest" type="button">
                    Log Me in with Rainforest
                </button>
            </div> -->
            <form action="/authenticate" method="GET">
                <input type="submit" value="Log Me in with IdP 1"> 
            </form>
        </center>
    </body>
</html>