<html>
    <head>
        <title>Simple OIDC Client</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $("button").click(function() {
                    $.get("http://localhost:1234/redirect", function(data, status) {
                        console.log(status);
                    })
                })
            })
        </script> -->
    </head>

    <body>
        <center>
            <h2 style="color:green">A Simple OIDC Client</h2>
            <div id="login_button">
                <button id="rainforest" type="button">
                    Log Me in with Rainforest
                </button>
            </div>
        </center>
    </body>
</html>